<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list model=model.userRejected}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list model=model.termUnlikely}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list model=model.uncategorized}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list model=model.termLikely}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list model=model.userSelected}}
  </div>
</div>
{{outlet}}
