<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list model=model.notApplicable}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list model=model.unlikely}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list model=model.uncategorized}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list model=model.likely}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list model=model.applicable}}
  </div>
</div>
{{outlet}}
