<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list model=userRejected meta=userRejectedMeta badgeColor='is-success'
        assess=-2
        isSummary=true
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list model=termUnlikely meta=termUnlikelyMeta badgeColor='is-info'
        assess=-1
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list model=uncategorized meta=uncategorizedMeta
        assess=0
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list model=termLikely meta=termLikelyMeta badgeColor='is-warning'
        assess=1
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list model=userSelected meta=userSelectedMeta badgeColor='is-danger'
        assess=2
        isSummary=true
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
</div>
{{outlet}}
