{{#ember-wormhole to='secondary-nav'}}
  {{filter-bar queryYear=currentQueryYear
      queryString=currentQueryString 
      yearChanged=(action 'onYearChange')
      queryChanged=(action 'onQueryChange') }}
{{/ember-wormhole}}
<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list techId=model.id assess=-2 badgeColor='is-success' model=userRejected
        isSummary=true
        loadMore=(action 'onLoadMore')
        termAdded=(action 'onTermAdded')
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list techId=model.id assess=-1 badgeColor='is-info' model=termUnlikely
        loadMore=(action 'onLoadMore')
        termAdded=(action 'onTermAdded')
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list techId=model.id assess=0 model=uncategorized
        loadMore=(action 'onLoadMore')
        termAdded=(action 'onTermAdded')
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list techId=model.id assess=1 badgeColor='is-warning' model=termLikely
        loadMore=(action 'onLoadMore')
        termAdded=(action 'onTermAdded')
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list techId=model.id assess=2 badgeColor='is-danger' model=userSelected
        isSummary=true
        loadMore=(action 'onLoadMore')
        termAdded=(action 'onTermAdded')
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
</div>
{{outlet}}
{{#if isProcessing}}
  <div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content has-text-centered">
    <span class="icon is-large">
      {{fa-icon 'spinner' size=4 spin=true}}
    </span>
  </div>
  </div>
{{/if}}
