<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list technology=technology
        model=userRejected
        meta=userRejectedMeta
        badgeColor='is-success'
        assess=-2
        isSummary=true
        loadMore='onLoadMore'
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list technology=technology
        model=termUnlikely meta=termUnlikelyMeta badgeColor='is-info'
        assess=-1
        loadMore='onLoadMore'
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list technology=technology
        model=uncategorized meta=uncategorizedMeta
        assess=0
        loadMore='onLoadMore'
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list technology=technology
        model=termLikely meta=termLikelyMeta badgeColor='is-warning'
        assess=1
        loadMore='onLoadMore'
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list technology=technology
        model=userSelected meta=userSelectedMeta badgeColor='is-danger'
        assess=2
        isSummary=true
        loadMore='onLoadMore'
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
</div>
{{outlet}}
