<div class="columns">
  <div class="column">
    <h4 class="title is-4 has-text-centered">Nope!</h4>
    {{cve-list model=userRejected
        assess=-2
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Probably Not</h4>
    {{cve-list model=termUnlikely
        assess=-1
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Who knows?</h4>
    {{cve-list model=uncategorized
        assess=0
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Maybe?</h4>
    {{cve-list model=termLikely
        assess=1
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
  <div class="column">
    <h4 class="title is-4 has-text-centered">Definitely!</h4>
    {{cve-list model=userSelected
        assess=2
        assessmentChanged=(action 'onAssessmentChanged')}}
  </div>
</div>
{{outlet}}
