{{model}}
{{#if modalActive}}
  <div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Technology Term</p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>Is the following term likely or unlikely to indicate a CVE that
            is relevant to the current technology stack?</p>
          <div class="field">
            <label class="label">Term</label>
            <p class="control">
              {{input value=selectedText classNames='input' placeholder='term'}}
            </p>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a {{action 'isUnlikelyTerm'}} class="card-footer-item">Unlikely</a>
        <a {{action 'cancelModal'}} class="card-footer-item">Cancel</a>
        <a {{action 'isLikelyTerm'}} class="card-footer-item">Likely</a>
      </footer>
    </div>
  </div>
  <button {{action 'cancelModal'}} class="modal-close"></button>
  </div>
{{/if}}
