<th>
  {{#if isEditing}}
    {{input value=editName classNames="input" enter=(action 'nameEntered')}}
  {{else}}
    <div>
      <h3 class="title is-3">{{ model.name }}</h3>
    </div>
  {{/if}}
</th>
<td>
  {{#if model}}
    <div>
      <p class="heading">Terms</p>
      <p class="title">
        {{model.techTerms.length}}
      </p>
    </div>
  {{/if}}
</td>
<td>
  {{#if model}}
    <div>
      <p class="heading">CVE Matches</p>
      <p class="title">
        {{model.userSelectedCves}} ({{model.termSelectedCves}})
      </p>
    </div>
  {{else}}
    &nbsp;
  {{/if}}
</td>
<td>
  {{#if model}}
    <div>
      <p class="heading">CVE Excluded</p>
      <p class="title">
        {{model.userExcludedCves}} ({{model.termExcludedCves}})
      </p>
    </div>
  {{else}}
    &nbsp;
  {{/if}}
</td>
<td>
  {{#if model}}
    <div>
      <p class="heading">Uncategorized</p>
      <p class="title">
        {{model.uncategorizedCves}}
      </p>
    </div>
  {{else}}
    &nbsp;
  {{/if}}
</td>
